<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\laptrinhweb\code_outsrc\TOOL_AUTO_GEN_POST_VIDEO\Branch-Tool-Sub\upload-16-9</PublishUrl>
    <UseAppHost>false</UseAppHost>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
  <Target Name="RemoveStaleToolServerAppHost" AfterTargets="Publish"
          Condition="'$(PublishProfile)' == 'FolderProfile' and '$(WebPublishMethod)' == 'FileSystem' and '$(UseAppHost)' == 'false' and '$(PublishUrl)' != ''">
    <Delete Files="$(PublishUrl)\TOOL-SERVER.exe" Condition="Exists('$(PublishUrl)\TOOL-SERVER.exe')" />
  </Target>
</Project>
